.div {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}



.card-title {
    text-align: start;

}


.pic {
    
    margin-top: 4em;
}





.social {
    display: grid;
    width: 2em;
    position: absolute; 
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}

.git:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 1em;
}



.link:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 30%;
}


.mail {
    margin-left: 2em;
    margin-right: 2em;

}


.mail:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 40%;
} 




/* .card-img-top {
    justify-content: center;
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
} */


/* .card-text1 {
    margin-left: auto;
    margin-right: auto; 
} */


/* .card-body2 {
    margin-top: 8em;
    text-align: center;
} */



.card-title {
    margin-top: 4em;
    text-align: center;

}


.card-text {
    margin-top: 3em;
    text-align: center;
}