.Job {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 1em;
}

.Pic {
    border-radius: 100%;
    display: flex;
    position: absolute; 
    top: 62%; 
    left: 50%; 
    transform: translate(-50%, -50%)
}

.link {
    width: 2em;
    position: absolute;
    left: 47%;
    right: 75%;
    margin-top: -3.5em;
}


.git {
    width: 2em;
    position: absolute;
    left: 50%;
    margin-top: -3.5em;

}



.text-image {
    display: flex;
    position: absolute;
    top: 85%;
    width: 45%; 
    margin: auto; 
    margin-left: 30%;
    margin-right: auto;
    text-align: center;
}