.Job {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 1em;
}

.Pic {
    border-radius: 100%;
    display: flex;
    position: absolute; 
    top: 62%; 
    left: 51%; 
    transform: translate(-50%, -50%)
}

.link {
    width: 2em;
    position: absolute;
    left: 49%;
    /* right: 75%; */
    margin-top: -3.5em;
}


.git {
    width: 2em;
    position: absolute;
    left: 52%;
    margin-top: -3.5em;

}


.mail {
    width: 2em;
    position: absolute;
    margin-top: -3.3em;
    left: 45.75%;
    height: 1.65em;
}



.text-image {
    display: flex;
    position: absolute;
    top: 90%;
    width: 50%; 
    margin: auto; 
    margin-left: 29%;
    margin-right: auto;
    text-align: center;
}