@media (max-width: 650px) {


.cards {
    align-items: center;
}



}

.card {
    margin-top: 20%;
}


.row {
    margin-left: 15%;
    margin-right: 10%;
    text-align: center;
}


.proj {
    transform: translate(-0.10%, 100%)
}