.card-text1 {
    margin-top: 2em;
}



.card-text2 {
    position: absolute;
    width: 200%;
    height: 200%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    margin: auto;
    margin-top: 2em;
    max-width: 20em;
}



.card-title {
    text-align: center;
    margin-top: 2em;
}

