.card-text1 {
    margin-top: 2em;
  }
  
  /* For screens smaller than 600px */
  @media only screen and (max-width: 600px) {
    .card-text2 {
      position: relative;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
    }
  
    .card-img {
      width: 40%; /* set the width of the image to 40% of its container */
      max-width: 40px; /* set a maximum width for the image */
      height: auto; /* set the height to auto to maintain aspect ratio */
      display: block;
      margin: 0 auto; /* center the image horizontally */
    }
  }
  
  /* For screens larger than or equal to 600px */
  @media only screen and (min-width: 600px) {
    .card-text2 {
      position: relative;
      grid-template-columns: repeat(5, 1fr);
      max-width: 20em;
    }
  
    .card-img {
      width: 40%; /* set the width of the image to 40% of its container */
      max-width: 50px; /* set a maximum width for the image */
      height: auto; /* set the height to auto to maintain aspect ratio */
      display: block;
      margin: 0 auto; /* center the image horizontally */
    }
  }
  
  .card-title {
    text-align: center;
    margin-top: 2em;
  }
  